/* .div-contenu-sport{

} */

.list-sports{
    /* width: 90%; */
    max-width: 65%;
    margin-top: 5%;
    /* height: 69vh;*/
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.div-contenu-sport{
    margin-bottom: 3%;
}

.titre-sport{
    display: flex;
    justify-content: center;
}

.slide .slick-slide .slick-active{
    width: none;
}